---
import Layout from '../layouts/Layout.astro';
import Form from '../components/form';
import ThemeIcon from '../components/theme/ThemeIcon.astro'

---

<Layout title="Portfolio">
	<header class="nav-bar mx-auto sticky top-0 max-w-4xl mt-10 pt-6 pb-6 z-50 flex flex-shrink w-full gap-2 flex-row 
	justify-between md:pb-3 dark:text-white px-14 py-8 md:py-5">
		<h4>Moisés Molina</h4>
			<ThemeIcon />
	</header>
	<div class="mx-auto flex min-h-screen max-w-4xl flex-col gap-9 px-10 py-8 md:gap-20 md:py-24">

		<main>
			<div class="flex flex-col gap-20">
				<article class="md:flex-row-reverse md:justify-end md:gap-12">
					<div class="flex flex-row justify-between sm:grid-cols-3">
							<div class="col-span-2 flex flex-col justify-center gap-6 md:gap-8 my-auto">
								<h1 class="text-5xl font-bold text-start dark:text-white">Hola, soy Moisés</h1> 
								<h2 class="w-auto sm:w-[85%] md:w-[90%] leading-6 dark:text-white">
									<span class="text-blue-600 dark:text-orange-500">Frontend Developer Junior</span> con 1 año de experiencia. Actualmente trabajo como freelancer
									y en mi tiempo libre compito en ajedrez y toco la guitarra.
								</h2> 
								<div class="flex flex-row gap-4">
									<a href="https://github.com/moiam" target="_blank" class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 hover:text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
											<path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
										</svg>
										
									</a>
									<a href="https://www.linkedin.com/in/mois%C3%A9s-molina-opentowork" target="_blank" class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 dark:text-white hover:text-blue-600 dark:bg-blue-600 dark:hover:text-white dark:rounded-lg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
											<path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
											<path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
										</svg>
										
									</a>
									<a href="/FrontendJunior-cv.pdf" target="_blank"class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 hover:text-blue-600 " height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
											xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" 
											stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
											<polygon class="text-gray-800 hover" style="fill:#FFE6B8;" points="431.28,10.199 80.72,10.199 80.72,501.801 347.283,501.801 431.28,417.803 "></polygon> <g> 
												<polygon style="fill:#FFAD61;" points="431.28,417.803 347.283,501.801 347.209,417.731 "></polygon>
													<path style="fill:#FFAD61;" d="M162.748,92.009c0.339,5.191,3.002,10.019,7.364,12.853c5.384,3.498,12.308,3.498,17.694,0 c4.362-2.834,7.026-7.662,7.364-12.853l1.284-19.698c0.659-10.11-7.364-18.674-17.496-18.674l0,0 c-10.132,0-18.155,8.563-17.496,18.674L162.748,92.009z">
														</path> </g> <path style="fill:#BCC987;" d="M232.279,159.044c-2.391-13.195-12.69-23.259-25.475-25.666c-1.924-0.362-3.903-0.553-5.921-0.553 h-6.712l0,0c-8.401,8.401-22.023,8.401-30.424,0l0,0h-6.712c-2.017,0-3.997,0.191-5.922,0.553 c-12.785,2.407-23.084,12.472-25.475,25.666l-2.229,12.302h111.097L232.279,159.044z"></path> <g> 
															<path style="fill:#4D3D36;" d="M431.279,0H80.721c-5.633,0-10.199,4.566-10.199,10.199v491.602c0,5.633,4.566,10.199,10.199,10.199 h266.562c2.705,0,5.298-1.075,7.212-2.987l83.997-83.998c1.912-1.912,2.987-4.506,2.987-7.212V10.199 C441.479,4.566,436.912,0,431.279,0z M90.92,232.542h0.873c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H90.92 V20.398h330.161v191.752c-5.565,0.08-10.053,4.609-10.053,10.192s4.489,10.113,10.052,10.192v175.064l-73.862-0.067 c-0.003,0-0.006,0-0.009,0c-2.705,0-5.298,1.075-7.212,2.987c-1.914,1.915-2.989,4.513-2.987,7.221l0.067,73.862H90.92V232.542z M357.419,427.939l49.257,0.045l-49.213,49.212L357.419,427.939z"></path> <path style="fill:#4D3D36;" d="M269.484,86.745h55.833c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 h-55.833c-5.632,0-10.199,4.566-10.199,10.199C259.285,82.179,263.851,86.745,269.484,86.745z"></path> <path style="fill:#4D3D36;" d="M269.484,133.602H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,129.036,263.851,133.602,269.484,133.602z"></path> <path style="fill:#4D3D36;" d="M269.484,180.526H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,175.96,263.851,180.526,269.484,180.526z"></path> <path style="fill:#4D3D36;" d="M129.53,268.291c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h120.805 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H129.53z"></path> <path style="fill:#4D3D36;" d="M391.649,309.543H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h262.12 c5.632,0,10.199-4.566,10.199-10.199S397.281,309.543,391.649,309.543z"></path> <path style="fill:#4D3D36;" d="M391.649,350.853H129.53c-5.633,0-10.199,4.566-10.199,10.199c0,5.633,4.566,10.199,10.199,10.199 h262.12c5.632,0,10.199-4.566,10.199-10.199C401.849,355.419,397.281,350.853,391.649,350.853z"></path> <path style="fill:#4D3D36;" d="M239.681,421.227h-8.614c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h8.614 c5.633,0,10.199-4.566,10.199-10.199S245.314,421.227,239.681,421.227z"></path> <path style="fill:#4D3D36;" d="M195.825,421.227H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h66.295 c5.633,0,10.199-4.566,10.199-10.199S201.457,421.227,195.825,421.227z"></path> <path style="fill:#4D3D36;" d="M152.57,92.672c0.553,8.471,5.033,16.225,11.985,20.742c4.374,2.843,9.389,4.263,14.403,4.263 c5.014,0,10.029-1.421,14.403-4.263c6.953-4.517,11.433-12.272,11.985-20.742l1.285-19.698c0.497-7.623-2.213-15.192-7.436-20.766 c-5.223-5.574-12.599-8.771-20.237-8.771c-7.638,0-15.015,3.197-20.237,8.771s-7.933,13.143-7.436,20.766L152.57,92.672z M173.607,66.156c1.401-1.496,3.301-2.319,5.352-2.319c2.05,0,3.95,0.824,5.352,2.319c1.401,1.495,2.1,3.445,1.966,5.491 l-1.285,19.698c-0.136,2.081-1.161,3.935-2.743,4.963c-1.999,1.298-4.581,1.297-6.581,0c-1.582-1.028-2.607-2.883-2.743-4.963l0,0 l-1.285-19.698C171.508,69.602,172.205,67.652,173.607,66.156z"></path> <path style="fill:#4D3D36;" d="M123.41,181.546h111.097c3.023,0,5.89-1.341,7.828-3.662c1.938-2.32,2.747-5.381,2.208-8.356 l-2.229-12.302c-3.089-17.054-16.601-30.666-33.624-33.872c-2.57-0.483-5.196-0.728-7.807-0.728h-6.712 c-2.705,0-5.299,1.075-7.212,2.987c-2.137,2.137-4.978,3.314-8,3.314s-5.864-1.177-8-3.314c-1.912-1.912-4.507-2.987-7.212-2.987 h-6.712c-2.611,0-5.237,0.245-7.809,0.729c-17.021,3.206-30.533,16.816-33.623,33.871l-2.229,12.302 c-0.539,2.975,0.269,6.035,2.208,8.356C117.52,180.205,120.387,181.546,123.41,181.546z M135.675,160.863 c1.593-8.793,8.556-15.81,17.325-17.461c1.329-0.25,2.685-0.377,4.035-0.377h2.948c11.209,8.383,26.744,8.383,37.953,0h2.948 c1.348,0,2.706,0.127,4.034,0.376c8.77,1.651,15.733,8.669,17.326,17.462l0.052,0.285h-86.672L135.675,160.863z"></path> <path style="fill:#4D3D36;" d="M357.875,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H357.875z"></path> <path style="fill:#4D3D36;" d="M319.862,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H319.862z"></path> <path style="fill:#4D3D36;" d="M140.003,222.343c0-5.633-4.566-10.199-10.199-10.199h-12.67c-5.633,0-10.199,4.566-10.199,10.199 s4.566,10.199,10.199,10.199h12.67C135.437,232.542,140.003,227.976,140.003,222.343z"></path> <path style="fill:#4D3D36;" d="M231.169,212.143c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h12.67 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H231.169z"></path> <path style="fill:#4D3D36;" d="M205.828,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H205.828z"></path> <path style="fill:#4D3D36;" d="M383.215,212.143c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199h12.672 c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199H383.215z"></path> <path style="fill:#4D3D36;" d="M269.18,232.542h12.67c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199S263.547,232.542,269.18,232.542z"></path> <path style="fill:#4D3D36;" d="M167.817,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H167.817z"></path> </g> </g>
										</svg>
									</a>
								</div>
							</div>
							<div class="ml-auto hidden sm:block">
								<img class="rounded-full" src="./img/profile-photo-cut.jpg" alt="">
							</div>
					</div>
			 </article>
			 
			 <article>
					<div class="flex flex-col">
						<div class="flex items-center my-4">
							<div class="flex-grow border-t border-gray-300"></div>
							<span class="px-4 text-3xl text-gray-700 dark:text-white">Experiencia</span>
							<div class="flex-grow border-t border-gray-300"></div>
						</div>
						
						<section class="flex flex-col md:flex-row gap-6 justify-center items-center p-8">
							<article class="relative rounded-md transition-all duration-300 hover:-translate-y-3 ">
								<a href="https://www.clubajedrezalcoy.com" target="_blank"class="flex flex-col bg-white
								 rounded-md max-w-80 border-2 border-gray-200">
									<div class="relative h-full w-full ">
										<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
											<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
										</span>
										<img class="rounded-md overflow-hidden w-full  p-2" src="./img/chess-website.png" alt="">
									</div>

									<header class="flex flex-row gap-2 ps-4 items-center h-12">
										<span class="">
											<svg viewBox="0 0 256 366" xmlns="http://www.w3.org/2000/svg" width="20" height="34"
											 preserveAspectRatio="xMidYMid"><path 
											 fill="#000000"  d="M182.022 9.147c2.982 3.702 4.502 8.697 7.543 18.687L256 246.074a276.467 276.467 0 0 0-79.426-26.891L133.318 73.008a5.63 5.63 0 0 0-10.802.017L79.784 219.11A276.453 276.453 0 0 0 0 246.04L66.76 27.783c3.051-9.972 4.577-14.959 7.559-18.654a24.541 24.541 0 0 1 9.946-7.358C88.67 0 93.885 0 104.314 0h47.683c10.443 0 15.664 0 20.074 1.774a24.545 24.545 0 0 1 9.95 7.373Z"/><path fill="#FF5D01" d="M189.972 256.46c-10.952 9.364-32.812 15.751-57.992 15.751-30.904 0-56.807-9.621-63.68-22.56-2.458 7.415-3.009 15.903-3.009 21.324 0 0-1.619 26.623 16.898 45.14 0-9.615 7.795-17.41 17.41-17.41 16.48 0 16.46 14.378 16.446 26.043l-.001 1.041c0 17.705 10.82 32.883 26.21 39.28a35.685 35.685 0 0 1-3.588-15.647c0-16.886 9.913-23.173 21.435-30.48 9.167-5.814 19.353-12.274 26.372-25.232a47.588 47.588 0 0 0 5.742-22.735c0-5.06-.786-9.938-2.243-14.516Z"/>
											</svg>
										</span>
										<span>
											<svg viewBox="0 0 256 228" width="30" height="34" xmlns="http://www.w3.org/2000/svg" 
												preserveAspectRatio="xMidYMid">
												<path d="M210.483 73.824a171.49 171.49 0 0 0-8.24-2.597c.465-1.9.893-3.777 1.273-5.621 6.238-30.281 2.16-54.676-11.769-62.708-13.355-7.7-35.196.329-57.254 19.526a171.23 171.23 0 0 0-6.375 5.848 155.866 155.866 0 0 0-4.241-3.917C100.759 3.829 77.587-4.822 63.673 3.233 50.33 10.957 46.379 33.89 51.995 62.588a170.974 170.974 0 0 0 1.892 8.48c-3.28.932-6.445 1.924-9.474 2.98C17.309 83.498 0 98.307 0 113.668c0 15.865 18.582 31.778 46.812 41.427a145.52 145.52 0 0 0 6.921 2.165 167.467 167.467 0 0 0-2.01 9.138c-5.354 28.2-1.173 50.591 12.134 58.266 13.744 7.926 36.812-.22 59.273-19.855a145.567 145.567 0 0 0 5.342-4.923 168.064 168.064 0 0 0 6.92 6.314c21.758 18.722 43.246 26.282 56.54 18.586 13.731-7.949 18.194-32.003 12.4-61.268a145.016 145.016 0 0 0-1.535-6.842c1.62-.48 3.21-.974 4.76-1.488 29.348-9.723 48.443-25.443 48.443-41.52 0-15.417-17.868-30.326-45.517-39.844Zm-6.365 70.984c-1.4.463-2.836.91-4.3 1.345-3.24-10.257-7.612-21.163-12.963-32.432 5.106-11 9.31-21.767 12.459-31.957 2.619.758 5.16 1.557 7.61 2.4 23.69 8.156 38.14 20.213 38.14 29.504 0 9.896-15.606 22.743-40.946 31.14Zm-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787-1.524 8.219-4.59 13.698-8.382 15.893-8.067 4.67-25.32-1.4-43.927-17.412a156.726 156.726 0 0 1-6.437-5.87c7.214-7.889 14.423-17.06 21.459-27.246 12.376-1.098 24.068-2.894 34.671-5.345.522 2.107.986 4.173 1.386 6.193ZM87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675-8.075-4.657-11.432-22.636-6.853-46.752a156.923 156.923 0 0 1 1.869-8.499c10.486 2.32 22.093 3.988 34.498 4.994 7.084 9.967 14.501 19.128 21.976 27.15a134.668 134.668 0 0 1-4.877 4.492c-9.933 8.682-19.886 14.842-28.658 17.94ZM50.35 144.747c-12.483-4.267-22.792-9.812-29.858-15.863-6.35-5.437-9.555-10.836-9.555-15.216 0-9.322 13.897-21.212 37.076-29.293 2.813-.98 5.757-1.905 8.812-2.773 3.204 10.42 7.406 21.315 12.477 32.332-5.137 11.18-9.399 22.249-12.634 32.792a134.718 134.718 0 0 1-6.318-1.979Zm12.378-84.26c-4.811-24.587-1.616-43.134 6.425-47.789 8.564-4.958 27.502 2.111 47.463 19.835a144.318 144.318 0 0 1 3.841 3.545c-7.438 7.987-14.787 17.08-21.808 26.988-12.04 1.116-23.565 2.908-34.161 5.309a160.342 160.342 0 0 1-1.76-7.887Zm110.427 27.268a347.8 347.8 0 0 0-7.785-12.803c8.168 1.033 15.994 2.404 23.343 4.08-2.206 7.072-4.956 14.465-8.193 22.045a381.151 381.151 0 0 0-7.365-13.322Zm-45.032-43.861c5.044 5.465 10.096 11.566 15.065 18.186a322.04 322.04 0 0 0-30.257-.006c4.974-6.559 10.069-12.652 15.192-18.18ZM82.802 87.83a323.167 323.167 0 0 0-7.227 13.238c-3.184-7.553-5.909-14.98-8.134-22.152 7.304-1.634 15.093-2.97 23.209-3.984a321.524 321.524 0 0 0-7.848 12.897Zm8.081 65.352c-8.385-.936-16.291-2.203-23.593-3.793 2.26-7.3 5.045-14.885 8.298-22.6a321.187 321.187 0 0 0 7.257 13.246c2.594 4.48 5.28 8.868 8.038 13.147Zm37.542 31.03c-5.184-5.592-10.354-11.779-15.403-18.433 4.902.192 9.899.29 14.978.29 5.218 0 10.376-.117 15.453-.343-4.985 6.774-10.018 12.97-15.028 18.486Zm52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52-7.422 1.694-15.436 3.058-23.88 4.071a382.417 382.417 0 0 0 7.859-13.026 347.403 347.403 0 0 0 7.425-13.565Zm-16.898 8.101a358.557 358.557 0 0 1-12.281 19.815 329.4 329.4 0 0 1-23.444.823c-7.967 0-15.716-.248-23.178-.732a310.202 310.202 0 0 1-12.513-19.846h.001a307.41 307.41 0 0 1-10.923-20.627 310.278 310.278 0 0 1 10.89-20.637l-.001.001a307.318 307.318 0 0 1 12.413-19.761c7.613-.576 15.42-.876 23.31-.876H128c7.926 0 15.743.303 23.354.883a329.357 329.357 0 0 1 12.335 19.695 358.489 358.489 0 0 1 11.036 20.54 329.472 329.472 0 0 1-11 20.722Zm22.56-122.124c8.572 4.944 11.906 24.881 6.52 51.026-.344 1.668-.73 3.367-1.15 5.09-10.622-2.452-22.155-4.275-34.23-5.408-7.034-10.017-14.323-19.124-21.64-27.008a160.789 160.789 0 0 1 5.888-5.4c18.9-16.447 36.564-22.941 44.612-18.3ZM128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86-22.86-10.235-22.86-22.86 10.235-22.86 22.86-22.86Z"
												fill="#00D8FF"/>
											</svg>
										</span>
										<span>
											<svg
												viewBox="0 0 256 154"
												width="30"
												height="58"
												xmlns="http://www.w3.org/2000/svg"
												preserveAspectRatio="xMidYMid"
												>
												<defs
													><linearGradient x1="-2.778%" y1="32%" x2="100%" y2="67.556%" id="gradient">
														<stop stop-color="#2298BD" offset="0%"></stop>
														<stop stop-color="#0ED7B5" offset="100%"></stop>
													</linearGradient></defs>
												<path
													d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z"
													fill="url(#gradient)"></path>
											</svg>

										</span>
										<span class="">
											<svg viewBox="0 0 256 549" xmlns="http://www.w3.org/2000/svg" width="15" height="38" 
											preserveAspectRatio="xMidYMid"><path fill="#01EC64" d="M175.622 61.108C152.612 33.807 132.797 6.078 128.749.32a1.03 1.03 0 0 0-1.492 0c-4.048 5.759-23.863 33.487-46.874 60.788-197.507 251.896 31.108 421.89 31.108 421.89l1.917 1.28c1.704 26.234 5.966 63.988 5.966 63.988h17.045s4.26-37.54 5.965-63.987l1.918-1.494c.213.214 228.828-169.78 31.32-421.677Zm-47.726 418.05s-10.227-8.744-12.997-13.222v-.428l12.358-274.292c0-.853 1.279-.853 1.279 0l12.357 274.292v.428c-2.77 4.478-12.997 13.223-12.997 13.223Z"/></svg>
										</span>
									</header>
									<footer>
										<p class=" text-wrap text-base ps-2 pb-2 pe-2">
											Diseño y desarrollo de aplicación web con base de datos en MongoDB para consulta de torneos y jugadores. Principal
											club de ajedrez de la ciudad.
										</p>
									</footer>
								</a>
							</article>
							<article class="rounded-md transition-all duration-300 hover:-translate-y-3">
								<a href="https://github.com/moiam/JPAclientsOrders" target="_blank"class="flex flex-col bg-white rounded-md max-w-80 border-2 border-gray-200">
									<div class="relative h-full w-full ">
										<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
											<svg class="absolute top-0 right-0 z-20 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
										</span>
										<img class="rounded-md  w-full p-2" src="./img/login.png" alt="">
									</div>
									<header class="flex flex-row gap-2 ps-4  items-center">
										<span class="place-self-center">
											<svg height="34px" width="34px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
											xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-51.2 -51.2 614.40 614.40" xml:space="preserve" 
											fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
											stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> 
											<path style="fill:#000000;" d="M253.464,94.869c-23.658,16.639-50.471,35.498-64.838,66.699 c-24.954,54.435,51.062,113.812,54.311,116.313c0.755,0.581,1.659,0.871,2.56,0.871c0.957,0,1.915-0.327,2.693-0.979 c1.509-1.262,1.937-3.406,1.031-5.152c-0.275-0.53-27.561-53.53-26.547-91.552c0.359-13.243,18.892-28.266,38.512-44.171 c17.97-14.568,38.34-31.079,50.258-50.394c26.164-42.516-2.916-84.322-3.213-84.74c-1.155-1.622-3.287-2.209-5.11-1.41 c-1.821,0.804-2.83,2.773-2.414,4.72c0.059,0.277,5.714,27.923-10.022,56.406C284.203,73.25,269.959,83.268,253.464,94.869z"></path> <path style="fill:#000000;" d="M353.137,113.617c1.669-1.257,2.159-3.55,1.15-5.38c-1.011-1.83-3.211-2.637-5.165-1.895 c-4.019,1.528-98.416,37.915-98.416,81.88c0,30.307,12.946,46.317,22.399,58.009c3.708,4.586,6.909,8.546,7.964,11.927 c2.97,9.743-4.066,27.353-7.025,33.317c-0.853,1.714-0.435,3.792,1.016,5.044c0.784,0.677,1.763,1.021,2.743,1.021 c0.834,0,1.672-0.248,2.396-0.752c1.623-1.128,39.667-28.026,32.844-60.433c-2.542-12.318-8.595-21.318-13.936-29.26 c-8.274-12.305-14.25-21.193-5.184-37.609C304.545,150.338,352.65,113.981,353.137,113.617z"></path> </g> <g> <path style="fill:#000000;" d="M107.418,298.236c-1.618,4.845-0.854,9.651,2.207,13.903c10.233,14.207,46.48,22.029,102.068,22.029 c0.003,0,0.005,0,0.007,0c7.532,0,15.484-0.148,23.629-0.44c88.875-3.181,121.839-30.869,123.199-32.046 c1.482-1.283,1.878-3.419,0.957-5.147c-0.922-1.727-2.909-2.595-4.808-2.072c-31.301,8.546-89.748,11.58-130.288,11.58 c-45.363,0-68.465-3.268-74.121-5.681c2.902-3.985,20.802-11.101,42.983-15.464c2.12-0.416,3.577-2.374,3.367-4.524 s-2.016-3.79-4.177-3.79C179.439,276.584,114.234,277.628,107.418,298.236z"></path> <path style="fill:#000000;" d="M404.812,269.718c-18.331,0-35.714,9.188-36.446,9.577c-1.695,0.908-2.555,2.852-2.09,4.72 c0.467,1.865,2.144,3.176,4.067,3.178c0.389,0,39.102,0.317,42.608,22.436c3.106,19.082-36.629,50-52.202,60.304 c-1.682,1.113-2.335,3.263-1.554,5.123c0.665,1.583,2.206,2.573,3.868,2.573c0.29,0,0.584-0.03,0.876-0.092 c3.696-0.791,90.406-19.899,81.238-70.384C439.584,276.213,420.138,269.718,404.812,269.718z"></path> <path style="fill:#000000;" d="M345.347,363.755c0.302-1.617-0.371-3.262-1.717-4.207l-20.791-14.563 c-1.014-0.71-2.295-0.933-3.485-0.618c-0.217,0.055-21.959,5.771-53.525,9.276c-12.528,1.405-26.56,2.147-40.582,2.147 c-31.558,0-52.192-3.708-55.197-6.428c-0.398-0.764-0.272-1.111-0.201-1.304c0.546-1.518,3.472-3.322,5.358-4.036 c2.083-0.771,3.206-3.033,2.558-5.157c-0.646-2.127-2.837-3.378-4.999-2.859c-20.856,5.033-31.054,12.071-30.312,20.918 c1.318,15.686,37.65,23.737,68.365,25.865c4.417,0.302,9.194,0.455,14.195,0.455c0.003,0,0.005,0,0.008,0 c51.074,0,116.55-16.025,117.204-16.188C343.825,366.666,345.044,365.375,345.347,363.755z"></path> <path style="fill:#000000;" d="M188.602,397.419c1.575-1.024,2.273-2.971,1.714-4.764c-0.557-1.793-2.234-2.971-4.118-2.946 c-2.795,0.074-27.349,1.182-29.068,16.815c-0.52,4.672,0.818,8.941,3.979,12.686c8.816,10.448,32.614,16.658,72.741,18.984 c4.747,0.285,9.569,0.428,14.334,0.428c51.015,0,85.373-15.973,86.812-16.653c1.395-0.66,2.315-2.031,2.397-3.571 s-0.687-3.001-2.003-3.806l-26.275-16.04c-0.912-0.556-2.003-0.74-3.043-0.527c-0.166,0.035-16.849,3.495-42.026,6.913 c-4.764,0.648-10.73,0.977-17.73,0.977c-25.15,0-53.124-4.109-58.489-6.8C187.749,398.613,187.848,397.975,188.602,397.419z"></path> <path style="fill:#000000;" d="M224.408,486.85c116.854-0.099,179.571-20.88,191.653-33.957c4.277-4.626,4.739-9.006,4.376-11.867 c-0.898-7.04-7.311-11.35-8.038-11.818c-1.754-1.128-4.108-0.833-5.476,0.745c-1.365,1.578-1.397,3.884-0.027,5.461 c0.737,0.948,1.163,2.535-0.992,4.692c-4.83,4.511-53.545,18.204-134.656,22.318c-11.111,0.577-22.765,0.871-34.636,0.873 c-72.623,0-125.772-9.948-132.749-15.744c2.689-3.864,21.489-10.037,41.482-13.529c2.253-0.393,3.775-2.516,3.426-4.776 c-0.349-2.259-2.432-3.814-4.709-3.519c-0.564,0.077-2.478,0.191-4.694,0.327c-32.988,2.014-71.109,6.503-73.098,23.5 c-0.604,5.179,0.935,9.881,4.576,13.973c8.909,10.01,34.516,23.319,153.558,23.319C224.406,486.85,224.406,486.85,224.408,486.85z"></path> <path style="fill:#000000;" d="M439.013,456.578c-1.652-0.764-3.604-0.378-4.836,0.952c-0.171,0.185-17.74,18.556-70.564,29.344 c-20.223,4.052-58.183,6.107-112.826,6.107c-54.745,0-106.838-2.154-107.357-2.176c-2.176-0.106-4.037,1.476-4.333,3.618 c-0.297,2.14,1.083,4.158,3.184,4.658c0.542,0.128,55.135,12.918,129.779,12.918c35.801,0,70.639-2.907,103.548-8.645 c61.361-10.757,65.657-41.183,65.81-42.473C441.632,459.078,440.662,457.342,439.013,456.578z"></path> </g> </g></svg>
										</span>
										<span>
											<svg width="26px" height="26px" viewBox="-5.5 0 267 267" version="1.1" 
											xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
											preserveAspectRatio="xMidYMid" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M153.6714,178.9332 L152.7394,181.6902 L201.8764,265.0322 L204.6574,267.0002 L255.9994,178.2202 L204.6574,89.0832 L153.6714,178.9332 Z" fill="#59666C"> </path> <path d="M50.2731,0.3039 L0.0001,89.0839 L52.2341,178.9329 L101.9721,89.0839 L101.8381,85.4529 L52.5651,2.1099 L50.2731,0.3039 Z" fill="#59666C"> </path> <path d="M50.2731,0.3039 L101.9721,89.0839 L204.6571,89.0839 L152.6011,0.3039 L50.2731,0.3039 Z" fill="#BCAE79"> </path> <path d="M52.2342,178.9332 L102.8642,267.0002 L204.6572,267.0002 L153.6712,178.9332 L52.2342,178.9332 Z" fill="#BCAE79"> </path> </g> </g></svg>
										</span>
										<span>
											<svg width="34px" height="34px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" 
											fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
											stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>file_type_mysql</title>
												<path d="M8.785,6.865a3.055,3.055,0,0,0-.785.1V7h.038a6.461,6.461,0,0,0,.612.785c.154.306.288.611.441.917.019-.019.038-.039.038-.039a1.074,1.074,0,0,0,.4-.957,4.314,4.314,0,0,1-.23-.4c-.115-.191-.364-.287-.517-.44"
												style="fill:#5d87a1;fill-rule:evenodd"></path><path d="M27.78,23.553a8.849,8.849,0,0,0-3.712.536c-.287.115-.745.115-.785.478.154.153.172.4.307.613a4.467,4.467,0,0,0,.995,1.167c.4.306.8.611,1.225.879.745.461,1.588.728,2.314,1.187.422.268.842.612,1.264.9.21.153.343.4.611.5v-.058a3.844,3.844,0,0,0-.291-.613c-.191-.19-.383-.363-.575-.554a9.118,9.118,0,0,0-1.99-1.932c-.613-.422-1.953-1-2.2-1.7l-.039-.039a7.69,7.69,0,0,0,1.321-.308c.65-.172,1.243-.133,1.912-.3.307-.077.862-.268.862-.268v-.3c-.342-.34-.587-.795-.947-1.116a25.338,25.338,0,0,0-3.122-2.328c-.587-.379-1.344-.623-1.969-.946-.226-.114-.6-.17-.737-.36a7.594,7.594,0,0,1-.776-1.457c-.548-1.04-1.079-2.193-1.551-3.293a20.236,20.236,0,0,0-.965-2.157A19.078,19.078,0,0,0,11.609,5a9.07,9.07,0,0,0-2.421-.776c-.474-.02-.946-.057-1.419-.075A7.55,7.55,0,0,1,6.9,3.485C5.818,2.8,3.038,1.328,2.242,3.277,1.732,4.508,3,5.718,3.435,6.343A8.866,8.866,0,0,1,4.4,7.762c.133.322.171.663.3,1A22.556,22.556,0,0,0,5.687,11.3a8.946,8.946,0,0,0,.7,1.172c.153.209.417.3.474.645a5.421,5.421,0,0,0-.436,1.419,8.336,8.336,0,0,0,.549,6.358c.3.473,1.022,1.514,1.987,1.116.851-.34.662-1.419.908-2.364.056-.229.019-.379.132-.53V19.3s.483,1.061.723,1.6a10.813,10.813,0,0,0,2.4,2.59A3.514,3.514,0,0,1,14,24.657V25h.427A1.054,1.054,0,0,0,14,24.212a9.4,9.4,0,0,1-.959-1.16,24.992,24.992,0,0,1-2.064-3.519c-.3-.6-.553-1.258-.793-1.857-.11-.231-.11-.58-.295-.7a7.266,7.266,0,0,0-.884,1.313,11.419,11.419,0,0,0-.517,2.921c-.073.02-.037,0-.073.038-.589-.155-.792-.792-1.014-1.332a8.756,8.756,0,0,1-.166-5.164c.128-.405.683-1.681.461-2.068-.111-.369-.48-.58-.682-.871a7.767,7.767,0,0,1-.663-1.237C5.912,9.5,5.69,8.3,5.212,7.216a10.4,10.4,0,0,0-.921-1.489A9.586,9.586,0,0,1,3.276,4.22c-.092-.213-.221-.561-.074-.793a.3.3,0,0,1,.259-.252c.238-.212.921.058,1.16.174a9.2,9.2,0,0,1,1.824.967c.258.194.866.685.866.685h.18c.612.133,1.3.037,1.876.21a12.247,12.247,0,0,1,2.755,1.32,16.981,16.981,0,0,1,5.969,6.545c.23.439.327.842.537,1.3.4.94.9,1.9,1.3,2.814a12.578,12.578,0,0,0,1.36,2.564c.286.4,1.435.612,1.952.822a13.7,13.7,0,0,1,1.32.535c.651.4,1.3.861,1.913,1.3.305.23,1.262.708,1.32,1.091" style="fill:#00758f;fill-rule:evenodd"></path></g></svg>

										</span>
									</header>
									<footer>
										<p class="  text-wrap text-base ps-2 pb-2 pe-2">
											Aplicación para gestión de clientes y pedidos, con sistema de asignación de roles utilizando JPA con Hibernate,
											y base de datos relacional MySQL.
										</p>
									</footer>
								</a>
							</article>
							
						</section>
					</div>
			 </article>
				<article>
					<div class="flex items-center my-4">
						<div class="flex-grow border-t border-gray-300"></div>
						<span class="px-4 text-3xl text-gray-700 dark:text-white">Educación</span>
						<div class="flex-grow border-t border-gray-300"></div>
					</div>
					<ol class="relative ms-8 border-s border-gray-200 dark:border-gray-700">                  

						<li class="mb-10 ms-6">
								<span class="absolute  flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
									<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
										stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
								</span>
								<h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">Estudiante de grado en Física</h3>
								<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">Actualmente</time>
								<p class="text-base font-normal text-gray-500 dark:text-gray-400"></p>
						</li>
						<li class="mb-10 ms-6">            
							<span class="absolute flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
								<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
									stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
							</span>
							<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">Certificación JAVA POO <span class="dark:bg-blue-100 dark:text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-green-900 text-green-300 ms-3">Latest</span></h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300 ">Septiembre,2023</time>
							<p class="mb-4 text-base font-normal text-gray-800 dark:text-gray-100 ">Creación de aplicación para gestión de pedidos y clientes con base de datos MySQL</p>
							<a href="/CertificadoJava.pdf" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium
							 dark:text-blue-900 dark:bg-white border dark:border-gray-200 rounded-lg dark:hover:bg-gray-300 dark:hover:text-blue-700
							  focus:z-10 focus:ring-4 focus:outline-none dark:focus:ring-gray-200  bg-green-900 text-green-100 border-green-600
								 hover:text-white hover:bg-green-700 focus:ring-green-700"><svg class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
							<path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
							</svg> Ver Certificación</a>
						</li>
						<li class="mb-10 ms-6">
							<span class="absolute flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
								<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
									stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
							</span>
							<h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">Estudios de Inglés Avanzado</h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">Octubre,2023</time>
							<p class="text-base font-normal text-gray-800 dark:text-gray-100 ">Preparación para certificación C1 en inglés</p>
					</li>
				</ol>
					
				</article>
				<article>
					<div class="flex items-center my-4">
						<div class="flex-grow border-t border-gray-300"></div>
						<span class="px-4 text-3xl text-gray-700 dark:text-white">Contacto</span>
						<div class="flex-grow border-t border-gray-300"></div>
					</div>
				</article>

				<article class="flex justify-center">
					<Form client:only/>
				</article>

			</div>
		</main>
		<footer>
			<div class="flex flex-row gap-3 justify-end items-center">
				<a href="https://github.com/moiam" target="_blank" class="transition hover:scale-110">
					<svg class="w-[40px] h-[40px] text-gray-800 hover:text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
					</svg>
					
				</a>
				<a href="https://www.linkedin.com/in/mois%C3%A9s-molina-opentowork" target="_blank" class="transition hover:scale-110">
					<svg class="w-[35px] h-[35px] text-gray-800 dark:text-white hover:text-blue-600 dark:bg-blue-600 dark:hover:text-white dark:rounded-lg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
						<path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
					</svg>
				</a>
				<a href="https://www.instagram.com/moi.am?igsh=MWh3MThjam9sdHRkcg=="target="_blank" class="transition hover:scale-110">
					<svg class="w-[48px] h-[48px] text-gray-800 hover:text-red-500/80 dark:text-white" width="64px" height="64px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><g 
						id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" 
						stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" d="M12 7.90001C11.1891 7.90001 10.3964 8.14048 9.72218 8.59099C9.04794 9.0415 8.52243 9.68184 8.21211 10.431C7.90179 11.1802 7.8206 12.0046 7.9788 12.7999C8.13699 13.5952 8.52748 14.3258 9.10088 14.8992C9.67427 15.4725 10.4048 15.863 11.2001 16.0212C11.9955 16.1794 12.8198 16.0982 13.569 15.7879C14.3182 15.4776 14.9585 14.9521 15.409 14.2779C15.8596 13.6036 16.1 12.8109 16.1 12C16.1013 11.4612 15.9962 10.9275 15.7906 10.4295C15.585 9.93142 15.2831 9.47892 14.9021 9.09794C14.5211 8.71695 14.0686 8.415 13.5706 8.20942C13.0725 8.00385 12.5388 7.8987 12 7.90001ZM12 14.67C11.4719 14.67 10.9557 14.5134 10.5166 14.22C10.0776 13.9267 9.73534 13.5097 9.53326 13.0218C9.33117 12.5339 9.2783 11.9971 9.38132 11.4791C9.48434 10.9612 9.73863 10.4854 10.112 10.112C10.4854 9.73863 10.9612 9.48434 11.4791 9.38132C11.9971 9.2783 12.5339 9.33117 13.0218 9.53326C13.5097 9.73534 13.9267 10.0776 14.22 10.5166C14.5134 10.9557 14.67 11.4719 14.67 12C14.67 12.7081 14.3887 13.3873 13.888 13.888C13.3873 14.3887 12.7081 14.67 12 14.67ZM17.23 7.73001C17.23 7.9278 17.1714 8.12114 17.0615 8.28558C16.9516 8.45003 16.7954 8.57821 16.6127 8.65389C16.43 8.72958 16.2289 8.74938 16.0349 8.7108C15.8409 8.67221 15.6628 8.57697 15.5229 8.43712C15.3831 8.29727 15.2878 8.11909 15.2492 7.92511C15.2106 7.73112 15.2304 7.53006 15.3061 7.34733C15.3818 7.16461 15.51 7.00843 15.6744 6.89855C15.8389 6.78866 16.0322 6.73001 16.23 6.73001C16.4952 6.73001 16.7496 6.83537 16.9371 7.02291C17.1247 7.21044 17.23 7.4648 17.23 7.73001ZM19.94 8.73001C19.9691 7.48684 19.5054 6.28261 18.65 5.38001C17.7522 4.5137 16.5474 4.03897 15.3 4.06001C14 4.00001 10 4.00001 8.70001 4.06001C7.45722 4.0331 6.25379 4.49652 5.35001 5.35001C4.49465 6.25261 4.03093 7.45684 4.06001 8.70001C4.00001 10 4.00001 14 4.06001 15.3C4.03093 16.5432 4.49465 17.7474 5.35001 18.65C6.25379 19.5035 7.45722 19.9669 8.70001 19.94C10.02 20.02 13.98 20.02 15.3 19.94C16.5432 19.9691 17.7474 19.5054 18.65 18.65C19.5054 17.7474 19.9691 16.5432 19.94 15.3C20 14 20 10 19.94 8.70001V8.73001ZM18.24 16.73C18.1042 17.074 17.8993 17.3863 17.6378 17.6478C17.3763 17.9093 17.064 18.1142 16.72 18.25C15.1676 18.5639 13.5806 18.6715 12 18.57C10.4228 18.6716 8.83902 18.564 7.29001 18.25C6.94608 18.1142 6.63369 17.9093 6.37223 17.6478C6.11076 17.3863 5.90579 17.074 5.77001 16.73C5.35001 15.67 5.44001 13.17 5.44001 12.01C5.44001 10.85 5.35001 8.34001 5.77001 7.29001C5.90196 6.94268 6.10547 6.62698 6.36733 6.36339C6.62919 6.09981 6.94355 5.89423 7.29001 5.76001C8.83902 5.44599 10.4228 5.33839 12 5.44001C13.5806 5.33856 15.1676 5.44616 16.72 5.76001C17.064 5.89579 17.3763 6.10076 17.6378 6.36223C17.8993 6.62369 18.1042 6.93608 18.24 7.28001C18.66 8.34001 18.56 10.84 18.56 12C18.56 13.16 18.66 15.67 18.24 16.72V16.73Z" 
						clip-rule="evenodd"></path> </g>
					</svg>
				</a>
			</div>
		</footer>
	</div>
</Layout>

<style>
	main {

		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.nav-bar{
		animation: enhance-header linear both;

	}

@keyframes enhance-header{
	to{
		backdrop-filter: blur(5px)
	}
}

</style>
