---
---

<figure class="flex flex-col bg-white rounded-md max-w-80">
  <slot id="image"/>
  <figcaption>
    <header class="flex flex-row gap-2">
      <slot id="icons"/>
    </header>
    <footer>
      <p class="text-wrap text-base">
        <slot id="project-description"/>
      </p>
    </footer>
  </figcaption>
</figure>